---
---

<div id='contact' class="hero min-h-screen ">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center m-10 lg:text-left">
        <h1 class="text-5xl font-bold">Contact Me!</h1>
        <p class="py-6">Feel free to send me a mail for any queries.</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Subject</span>
            </label>
            <input type="text" placeholder="small description" class="input input-bordered"  />
          </div>
          <label class="form-control">
            <div class="label">
              <span class="label-text">Mail</span>
            </div>
            <textarea class="textarea textarea-bordered h-24" placeholder="your mail here"></textarea>
          </label>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>