---
import ProjectPostLayout from "@layouts/ProjectPostLayout.astro";

---
<ProjectPostLayout title="Event Booking" img="https://raw.githubusercontent.com/asakshat/new_portfolio/main/public/sip%20and%20screen.jpg" 
 >

 <p class="text-xl mx-5 px-6 font-bold text-left ">'(Do add '/index.html' after the website url to view the full functions.    
    Currently issues regarding webpack and older version packages because i haven't mainted it.) 

    A small event booking website. I made this website when my friend asked me for 
    help to track the number of people who were going to attend the event and could 
    book before hand. I used cloud Firestore to store data and display into a web-panel.
    
    I had Google 0auth enabled but ran into issues regarding url redirects from a 3rd party app browers like instagram and facebook. I tried both the popup and redirect functions provided by Firebase but couldn't get access to the authentication unless the website url was opened through the user's default web-browser. The issues regarding the 0auth login was only found in mobile devices.'</p>
</ProjectPostLayout>
    

