---
import ProjectPostLayout from '@layouts/ProjectPostLayout.astro';
---

<ProjectPostLayout
	title="DopeFlix"
	img="https://raw.githubusercontent.com/asakshat/new_portfolio/main/public/go.png"
	url_github="https://github.com/asakshat/go_blog"
/>

<h2
	class="font-black underline text-2xl p-4 m-5 flex justify-center text-accent"
>
	About Project :-
</h2>
<p
	class="lg:text-xl m-5 p-6 font-bold text-left sm:text-xs flex flex-col gap-5"
>
	A blog post with CRUD functionality with pictures . The blog is built using Go
	and PostgreSQL for the backend and uses Cloudinary to store the images. There
	is no front end atm but the API is working and can be used to create a front
	end.
	<br />
	<span> </span>
</p>
