---
import ProjectPostLayout from "@layouts/ProjectPostLayout.astro";

---
<ProjectPostLayout client:load title="Dice & Roll" img="https://raw.githubusercontent.com/asakshat/new_portfolio/main/public/dicev2.png"  url_github="https://github.com/asakshat/dice_roll" url_web="https://dice-rolll.netlify.app/">
<h2 class="font-black underline text-2xl p-4 m-5 flex justify-center text-accent">About Project :-</h2>
 <p class="lg:text-xl m-5 p-6 font-bold text-left sm:text-xs flex flex-col gap-5 ">
    A board game that can be played with 2 players. Project exercise from udemy course.
    <br>
    <span>A small project exercise from a course from Udemy. 🧑
         Game Rules :-
        
            Player 1 starts first.
            Player can roll the dice as much as they prefer. However , rolling dice with the side of loses their turn and the current score.
            Holding after rolling the dice adds the current score to the total score and switches turn to the other player.
            Any player with score >= 100 wins the round.
        </span></p>
</ProjectPostLayout>
    

