---
import ProjectPostLayout from "@layouts/ProjectPostLayout.astro";
---

<ProjectPostLayout
  title="Old Portfolio"
  img="https://raw.githubusercontent.com/asakshat/new_portfolio/main/public/old_porto.png"
  url_github="https://github.com/asakshat/portfolio"
  url_web="https://sakshat-adhikari.netlify.app/"
/>

<h2
  class="font-black underline text-2xl p-4 m-5 flex justify-center text-accent"
>
  About Project :-
</h2>
<p
  class="lg:text-xl m-5 p-6 font-bold text-center sm:text-xs flex flex-col gap-5"
>
  My first portfolio website made with HTML ,CSS nad vanilla JS.

</p>
