---
import ProjectPostLayout from '@layouts/ProjectPostLayout.astro';
---

<ProjectPostLayout
	title="Event Booking"
	img="https://github.com/asakshat/new_portfolio/blob/main/public/240709_16h21m40s_screenshot.png"
	url_github="https://github.com/asakshat/go-event-booking"
	url_web="https://event-booking-app-real.netlify.app/"
/>
<h2
	class="font-black underline text-2xl p-4 m-5 flex justify-center text-accent"
>
	About Project :-
</h2>
<p
	class="lg:text-xl m-5 p-6 font-bold text-left sm:text-xs flex flex-col gap-5"
>
	A ticket booking app where an organizer can create , edit and delete events. Ability to sell tickets and validate the tickets as well.

    Features :- 
    1) Email Verification
    2) Forget Password Functions 
    3) Ticket Validation.
    4) CRUD operations for events. 

	<br />
	<span> </span>
</p>