---
import ProjectPostLayout from '@layouts/ProjectPostLayout.astro';
---

<ProjectPostLayout
	title="DopeFlix"
	img="https://raw.githubusercontent.com/asakshat/new_portfolio/main/public/MoviesFlix.png"
	url_github="https://github.com/asakshat/movieflix"
	url_web="https://dopebox-clone.web.app/"
/>

<h2
	class="font-black underline text-2xl p-4 m-5 flex justify-center text-accent"
>
</h2>
<p
	class="lg:text-xl m-5 p-6 font-bold text-left sm:text-xs flex flex-col gap-5"
>
	A movie streaming website clone with a collection of movies and TV shows.
	<br />
	<span>
		Uses the TMDB API to fetch the data. The website is built using ReactJS and
		Firebase for hosting. The website is responsive and has a clean UI. The user
		can search for movies and TV shows and watch trailers. When clicked on a
		movie card. It will dynamically create a page of a movie or show and play
		the trailer.
	</span>
</p>
