---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Body from '@components/Body'
import Contact from '@components/contact.jsx';
import ProjectCards from '@components/project_cards.astro';
const {title} = Astro.props;


---

<html transition:animate="fade" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" >
    <meta title="{title}"/>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>

  <body>
    <Header />
    <Body client:load/>
    <ProjectCards />
    <Contact client:load/>
    <Footer />
    
    <slot />
  </body>
</html>